body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #4a4a4a;
}

/* Header */
header {
    background-color: #00509e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 4px solid #ff6f61;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

header .resume-btn {
    position: absolute;
    right: 30px;
    padding: 15px 30px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

header .resume-btn:hover {
    background-color: #ff4c39;
    transform: scale(1.05);
}

/* Navbar */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

/* Section Titles */
section h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #4c4f4e;
    margin-bottom: 15px;
    border-bottom: 2px solid #083928;
    padding-bottom: 5px;
}

/* Section Styling */
section {
    padding: 25px;
    margin: 25px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Projects Section */
#projects {
    background-color: #f9f9f9;
}

.project ul {
    padding-left: 20px;
}

.project ul li {
    margin-bottom: 10px;
}

/* Skils Section */
.skills table {
    width: 100%;
    border-collapse: collapse;
}

.skills table th,
.skills table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.skills table th {
    background-color: #f4f4f4;
    font-weight: bold;
}