body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #633b85;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

.dashboard {
    padding: 20px;
    background-color: rgb(158, 135, 135);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.dashboard h2 {
    margin-bottom: 20px;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.summary > div {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.summary h3 {
    font-size: 1.2rem;
}

.transactions {
    padding: 20px;
    margin: 20px;
    background-color: rgb(158, 135, 135);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transactions table {
    width: 100%;
    border-collapse: collapse;
}

.transactions th, .transactions td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.transactions th {
    background-color: #f4f4f4;
}

.transactions td {
    background-color: #fff;
}

.budget {
    padding: 20px;
    margin: 20px;
    background-color:rgb(158, 135, 135);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.budget .category {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
}

.budget h3 {
    margin: 0;
}

.budget p {
    font-size: 1.1rem;
}

footer {
    background-color: #633b85;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.savings {
    padding: 20px;
    margin: 20px;
    background-color:rgb(161, 214, 117);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.debt {
    padding: 20px;
    margin: 20px;
    background-color:rgb(167, 42, 42);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Section Titles */
section h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #4c4f4e;
    margin-bottom: 15px;
    border-bottom: 2px solid #083928;
    padding-bottom: 5px;
}

/* Section Styling */
section {
    padding: 25px;
    margin: 25px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* Languages Section */
.languages ul {
    list-style-type: none;
    padding: 0;
}

.languages ul li {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.languages ul li strong {
    font-weight: bold;
}
